* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	max-width: 100%;
	display: flex;
	justify-items: flex-start;
	justify-content: flex-start;
	overflow: overlay;
}

@media (max-width: 1800px) {
	body {
		justify-content: center;
	}
}

/* scroll bar */

::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(100, 100, 100, 0.4);
	border-radius: 3px;
}

/* typography */

@font-face {
	font-family: 'Vollkorn';
	src: local('Vollkorn'), url('/fonts/Vollkorn-VariableFont_wght.ttf');
	font-weight: 100 900;
}

@font-face {
	font-family: 'Maven Pro';
	src: local('Maven Pro'), url('/fonts/MavenPro-VariableFont_wght.ttf');
	font-weight: 100 900;
}

html {
	font-family: Maven Pro, Arial;
	color: #272727;
	font-size: 18px;
	line-height: 1.5rem;
	height: 100%;
}

@media print {
	html {
		font-size: 12pt;
	}
}

p {
	margin: 0.5em 0;
}

section,
article {
	margin: 2em 0 3em 0;
}

/* links */

a {
	text-decoration: underline dotted;
	font-weight: 500;
}

nav a {
	font-size: 19px;
}

/* headers */

h1,
h2,
h3 {
	font-family: Vollkorn, Times;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2em;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1em;
}

hgroup p:first-of-type {
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.quote {
	display: block;
	font-family: Vollkorn SC, Times;
	font-weight: 900;
	font-size: 1.4rem;
	margin: 1.5rem 2rem;
}
