:root {
	--text: #272727;
	--text-light: #313131;

	--home: 280;
	--about: 190;
	--services: 100;
	--contact: 10;

	--gradient-color-1: #fac000;
	--gradient-color-2: #00ffb3;
	--gradient-color-3: #00eeff;
	--gradient-color-4: #307a64;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Vollkorn';
	src: local('Vollkorn'), url('/fonts/Vollkorn-VariableFont_wght.ttf');
	font-weight: 100 900;
}

@font-face {
	font-family: 'Maven Pro';
	src: local('Maven Pro'), url('/fonts/MavenPro-VariableFont_wght.ttf');
	font-weight: 100 900;
}

html {
	/* typography */
	font-family: Maven Pro, Arial;
	color: var(--text);
	font-size: 18px;
	height: 100%;
}

p {
	margin: 0.5em 0;
}

section,
article {
	margin: 2em 0 3em 0;
}

/* links */

a {
	text-decoration: underline dotted;
	font-weight: 500;
}

nav a {
	font-size: 19px;
}

/* headers */

h1,
h2,
h3 {
	font-family: Vollkorn, Times;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1em;
}

.quote {
	display: block;
	font-family: Vollkorn SC, Times;
	font-weight: 900;
	font-size: 1.4rem;
	margin: 1.5rem 2rem;
}
